.git/
.github/
.phpdoc/
.pnpm-store/
.vscode/
docker/
manual-test/
node_modules/
phpdoc/
src/.eslintrc.json
test/
vendor/
.dockerignore
.gitattributes
.gitignore
.nvmrc
.php-cs-fixer.dist.manual.php
.php-cs-fixer.dist.php
composer.json
composer.lock
docker-compose.yml
eslint.config.js
phpstan.neon
pnpm-lock.yaml
psalm.xml
