.git/
.github/
.phpdoc
docker/
manual-test/
node_modules/
phpdoc
src/.eslintrc.json
test/
vendor/
.dockerignore
.eslintrc.js
.gitattributes
.gitignore
.nvmrc
.php-cs-fixer.dist.manual.php
.php-cs-fixer.dist.php
composer.json
composer.lock
docker-compose.yml
phpstan.neon
psalm.xml
pnpm-lock.yaml
