name: CI Tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [develop]

jobs:
  NodeJS:

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x, 17.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm run test

  PHP:

    strategy:
      matrix:
        php-version: [7.4, 8.0, 8.1]
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          tools: composer:v2
          ini-values: error_reporting=-1

      - name: "Install dependencies"
        run: "composer install --no-interaction --no-progress"

      - name: "PHP Tests"
        run: npm run test:php
