name: Tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches: [develop]

jobs:
  build:

    strategy:
      matrix:
        node-version: [12.x, 14.x, 16.x, 17.x]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install
      - name: Test
        run: npm run test
